main {
    position: relative;
    width: 100vw;
}


section {
    position: relative;
    width: 100%;
    background-color: var(--bg-2);
    margin-bottom: 130px;
    box-sizing: border-box;
    padding-left: calc(50vw - var(--content-width)/2);
    padding-right: calc(50vw - var(--content-width)/2);
    font-size: 1.25em;
    text-shadow: 0 -.75px 0 #bebebe,
                 0 4px 0 #000;
    filter: drop-shadow(0 -2px 0 #444)
            drop-shadow(0 10px 10px #000);
}

section:nth-child(2) {margin-top: 0; padding-top: 50px;}


section:not(:nth-child(2)):before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100px;
    margin-top: -100px;
    margin-left: calc(-50vw + var(--content-width)/2);
    background-color: var(--bg-2);
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

section::after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    width: 100%;
    height: 100px;
    margin-left: calc(-50vw + var(--content-width)/2);
    background-color: var(--bg-2);
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

section h1, section h2, section h3, section h4, section h5, section h6 {
    color: var(--accent);
    font-weight: 900;
}

section h1, section h2, section h3 {
    text-align: center;
}

section h1{
    border-bottom: 4px solid var(--accent);
}

section hr {
    border: none;
    height: 2px;
    background-color: var(--accent);
    box-shadow: 0 -1px 0 white,
                0 3px 0 black;
}

section a {
    display: inline-block;
    color: #000000;
    background-color: #ff9100;
    border-radius: calc(.5em + 5px);
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
    box-shadow: 0 5px 0 0 #884d00;
    margin-bottom: 5px;
}

section a:focus {
    outline: none;
    color: white;
    background-color: #0084ff;
    box-shadow: 0 2px 5px -2px #7dcbf8,
                0 5px 0 0 #005688;
}

section a:active {
    margin-top: 5px;
    box-shadow: none;
    margin-bottom: 0;
}








.github-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.current {position: relative;}

.current::after {
    content: "Current";
    position: absolute;
    display: inline-block;
    margin-left: 1em;
    background-color: var(--accent-1);
    box-shadow: 0 5px 0 0 var(--accent-2);
    padding: 5px;
    font-size: 20px;
    color: black;
    box-shadow: none;
    text-shadow: none;
    border-radius: 15px;
    top: calc(50% - 15px);
}

@media only screen and (max-device-width:840px) {
    section:not(:nth-child(2)):before {
        margin-left: 0;
    }
    
    section::after {
        margin-left: 0;
    }
}