.home {
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: relative;
    /* background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    box-shadow: 0 -35px 30px -20px #000 inset;

    animation: home-brigness 1s ease;
}

@keyframes home-brigness {
    20% {filter: brightness(0%);}
    100% {filter: brightness(100%);}
}

.home > .avatar {
    box-sizing: border-box;
    padding: 0;
    width: 256px; height: 256px;
    animation: avatar-resize 1s ease;
    filter: drop-shadow(0 20px 10px #000000c0);
}

@keyframes avatar-resize {
    0% {padding: 50%;}
    10% {padding: 50%;}
    100% {padding: 0;}
}

.home > .nick {
    font-family: SFPixelate;
    font-size: 3em;
    color: var(--accent);
    background-color: #0000009f;
    padding: 5px;
    padding-right: .25em;
    word-wrap: break-word;

    border-right: .5em solid #fbff00;

    animation: nick-anim 1s linear infinite;
}

@keyframes nick-anim {
    0% {border-right: .5em solid var(--accent);}
    25% {border-right: .5em solid transparent;}
    75% {border-right: .5em solid transparent;}
    0% {border-right: .5em solid var(--accent);}
}

.home > .name {
    font-family: SFPixelate;
    font-size: 2em;
    background-color: #0000009f;
    color: var(--accent);
    margin-bottom: 10px;
}

.home > .send-mail {
    background-color: #6262ff;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0;
    clip-path: polygon(
        0 0,
        20px 50%,
        0 100%,

        calc(100% - 20px) 100%,
        100% 50%,
        calc(100% - 20px) 0
    );
    transition: padding .2s;
}

.home > .send-mail:focus {
    background-color: #31314d;
    color: white;
}

.home > .send-mail:active {
    padding-left: 40px;
    padding-right: 20px;
}

.home a {
    display: inline-block;
    color: #000000;
    background-color: #ff9100;
    border-radius: calc(.5em + 5px);
    padding: 5px;
    text-decoration: none;
    text-shadow: none;
    box-shadow: 0 5px 0 0 #884d00;
    margin-bottom: 5px;
}

.home a:focus {
    outline: none;
    color: white;
    background-color: #0084ff;
    box-shadow: 0 2px 5px -2px #7dcbf8,
                0 5px 0 0 #005688;
}

.home a:active {
    margin-top: 5px;
    box-shadow: none;
    margin-bottom: 0;
}