nav {
    position: fixed;
    /* left: -300px; */
    top: 0;
    width: 300px;
    box-sizing: border-box;
    padding-top: 35px;
}

nav.open {
    /* left: 0; */
}


nav>*:not(.nav-open) {
    position: relative;
    display: inline-block;
    left: -300px;

    background-color: var(--bg-2);
    border-radius: 5px;
    text-decoration: none;
    padding-left: 5px; padding-right: 5px;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: white;
    box-shadow: none;

    margin: 5px;
}

nav>*:not(.nav-open):nth-child(2) {transition: left .4s;}
nav>*:not(.nav-open):nth-child(3) {transition: left .8s;}
nav>*:not(.nav-open):nth-child(4) {transition: left .16s;}
nav>*:not(.nav-open):nth-child(5) {transition: left .32s;}

nav.open>*:not(.nav-open), nav>*:not(.nav-open):focus {
    left: 0;
}

nav>.nav-open {
    position: fixed;
    left: 5px; top: 5px;
    width: 25px; height: 25px;
    border: none;
    background-color: transparent;
}

nav>.nav-open>* {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: .5s;
}

nav>.nav-open>input {
    width: 100%; height: 100%;
    /* opacity: 0; */
}

nav>.nav-open>*:nth-child(1) {
    position: absolute;
    left: 0; top: 0;
}

nav.open>.nav-open>*:nth-child(1) {
    margin-top: calc(50% - 2.5px);
    transform: rotate(45deg);
}

nav>.nav-open>*:nth-child(2) {
    position: absolute;
    left: 0; top: calc(50% - 2.5px);
}

nav.open>.nav-open>*:nth-child(2) {
    opacity: 0;
}

nav>.nav-open>*:nth-child(3) {
    position: absolute;
    left: 0; bottom: 0;
}

nav.open>.nav-open>*:nth-child(3) {
    margin-bottom: calc(50% - 2.5px);
    transform: rotate(-45deg);
}