@import "./home.css";
@import "./navigation.css";
@import "./content.css";

@font-face {
    src: url(../fnt/decterm.ttf);
    font-family: Decterm;
}

@font-face {
    src: url(../fnt/SFPixelate.ttf);
    font-family: SFPixelate;
}

:root {
    --bg-1: #111;
    --bg-2: #13192080;
    --accent: #fbff00;
    --accent-1: #2e89ff;
    --accent-3: #ff5100;
    --text-1: #6a8699;
    --content-width: 840px;

    overflow-x: hidden !important;
}

::selection {
    background-color: #ff7300;
    color: black;
    text-shadow: -1.5px 1.5px 0 #8f3400;
}

body {
    background: url(../img/bg.png) #001216;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--text-1);
    font-family: Decterm;
    font-size: 1.5em;
    margin: 0;
    overflow-x: hidden !important;
}

@media only screen and (max-width:840px) {
    :root {
        --content-width: calc(100vw - 20px);
    }
}

@media print {
    body {font-size:1em;}

    :root {
        --bg-1: rgb(255, 255, 255);
        --bg-2: #ffffff;
        --accent: #000000;
        --accent-1: #7c7c7c;
        --text-1: #000000;
        --content-width: 840px;
    }

    .unprint {display: none !important;}
}