@import "./home.css";
@import "./navigation.css";
@import "./content.css";

@font-face {
    src: url(../fnt/decterm.ttf);
    font-family: Decterm;
}

@font-face {
    src: url(../fnt/SFPixelate.ttf);
    font-family: SFPixelate;
}

:root {
    --bg-1: #111;
    --bg-2: #222;
    --accent: #fbff00;
    --accent-1: #2e89ff;
    --text-1: #919191;
    --content-width: 840px;
}

::selection {
    background-color: #ff7300;
    color: black;
    text-shadow: -1.5px 1.5px 0 #8f3400;
}

body {
    background-color: var(--bg-1);
    color: var(--text-1);
    font-family: Decterm;
    font-size: 1.5em;
    margin: 0;
    overflow-x: hidden;
}

@media only screen and (max-device-width:840px) {
    :root {
        --content-width: calc(100vw - 20px);
    }
}